<link rel="stylesheet" href="/css/cart.css">

<%- include('_header'); %>
<h1>Welcome to Cart</h1>

<div class="cart-items">
    <% if (!cart) { %>
        <p>Your cart is empty.</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let totalPrice = 0; %>
                <% cart.products.forEach(product => { %>
                    <tr>
                        <td>
                            <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" style="width: 100px; height: auto;">
                        </td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td>
                            <a href="/cart/deleteFromCart?userId=<%= user._id %>&productId=<%= product._id %>">Delete</a>
                        </td>
                    </tr>
                    <% totalPrice += Number(product.price); %>
                <% }); %>
                <tr>
                    <td colspan="2"><strong>Total Price:</strong></td>
                    <td colspan="1"><strong><%= totalPrice %></strong></td>
                    <td colspan="1"><form action="/orders/placeOrder" method="post" style="display:inline;">
                        <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
                        <button type="submit">Order</button>
                    </form></td>
                </tr>
            </tbody>
        </table>
        
    <% } %>
</div>
